* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/stardust/stardust.png");
    color: #a4d3dd;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#crystalButton1,
#crystalButton2,
#crystalButton3,
#crystalButton4 {
    color: #a4d3dd;
}

.container {
    width: 80%
}

h1 {
    text-align: center;
    color: #a4d3dd;
    font-size: 60px;
}

ul {
    text-align: left;
}

.score {
    margin-bottom: 20px;
}

#uScore,
#tScore {
    background: #a4d3dd;
    color: #444349;
    border-radius: 25px;
    height: 150px;
}

#tScore {
    margin-bottom: 20px;
}

.scoreHeader {
    text-align: center;
    font-size: 40px;
}

.resultTotal {
    font-size: 50px;
    background: #a4d3dd;
    color: #444349;
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.targetScore,
.userScore {
    font-size: 60px;
    text-align: center;
}

.crystal {
    background-color: transparent;
    border: none;
    text-align: center;
}

#resultAlert {
    text-align: center;
    font-size: 50px;
}